<div id="mainController">
	<h4>Remote Presentation Controller</h4>
	<div id="mycontrols" align="center">
        
		<table>
			<tr>
				<td></td>
				<td><img class="ctl_btn up" cmd="up" src="/images/arrow_up.png" /></td>
				<td></td>
			</tr>
			<tr>
				<td><img class="ctl_btn left" cmd="left" src="/images/arrow_left.png" /></td>
				<td></td>
				<td><img class="ctl_btn right" cmd="right" src="/images/arrow_right.png" /></td>
			</tr>
			<tr>
				<td></td>
				<td><img class="ctl_btn down" cmd="down"  src="/images/arrow_down.png" /></td>
				<td></td>
			</tr>
	
			
		</table>		
	</div>
	
</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.core.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>
	var defaultTitle = 'Remote Presentation Controller';
	var presentation_id = prompt('Quelle id ?');
	document.title = presentation_id;
	head.js('/socket.io/socket.io.js' , function() {
		
		// connect
		var socket = io.connect('/');			
		
		socket.on('connect', function () {
			console.log("controller connected."+presentation_id);
			
			socket.on('update_controller',function(data){
				if(data.id == presentation_id){
					/*data.up;
					data.down;
					data.left;
					data.right;*/
					//we use only left and up .....
				}
			});

			$('#mycontrols .ctl_btn').bind('click', function(){
				// send command (up/down/left/right)
				var cmd = $(this).attr('cmd');

				document.title = cmd + ' - ' + defaultTitle;
				console.log("send command " + presentation_id );
				// send command to server
				socket.emit('command', {'id' : presentation_id, 'txt': cmd } );//default key demo-presentation
				
			});
		
				
		});
		
	} );
	
</script>