<div class="reveal">

  <!-- Used to fade in a background when a specific slide state is reached -->
  <div class="state-background"></div>
  
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    
    <!-- SLIDE 1 -->
    <section>
      <h1>L'humanitaire?</h1>
      <h2>Où?</h2>
	  <p>
		Les théâtres des opérations sont nombreux de part le monde.
		<br>De la Syrie à l'afrique noire en passant par l'amérique latine ou encore dans les pays dits "riches"; les associations à but humanitaires oeuvrent
	  </p>
	  <h2>Pour qui?</h2>
	  <p>
		Pour toutes les personnes victimes des conflits, des pandémies, mais aussi pour pes personnes qui nous sont généralement plus proche.
		<br>Par exemple les associations de proximité qui viennent en aide aux personnes isolées.
	  </p>
    </section>
    
    <!-- SLIDE 2 -->
    <section>
      <h1>Les grandes ONG</h1>
	  <h2>GreenPeace</h2>
      <p>est une Organisation non gouvernementale internationale de protection de l'environnement présente dans plus de quarante pays à travers le monde</p>
	  <h2>Médecin sans frontières (MSF)</h2>
	  <p>Fondée en 1971, elle offre une assistance médicale d'urgence dans des cas comme les conflits armés, les catastrophes naturelles, les épidémies et les famines.</p>
	  <h2>Amnesty International</h2>
	  <p>est une ONG qui défend les droits de l'homme et le respect de la Déclaration universelle des droits de l'homme</p>
    </section>
    
    <!-- SLIDE 3 - Vertical Slide -->
    <section>
      <section>
        <h1>Qui peut s'engager au premier plan?</h1>
        <p>Les ONG recherchent dans toutes les tranches d’âge, des jeunes aux retraités, des personnes avec différentes compétences, différentes formations, etc. Certaines ONG définissent parfois un profil type mais la plupart engagent les volontaires suivant les tâches que ceux-ci auront à accomplir.</p>
      </section>
      
      <section>
        <h1>S'engager autrement</h1>
		<p>
		Donner de l'argent reste le moyen le plus simple de lutter contre la pauvreté, donner c'est devenir acteur de la societé dans laquelle on évolue, c'est avoir un impact social pus important.
		<br>De plus, dans certains pays comme la France, le don est accompagné d'exhoneration d'impots. 
		</p>
      </section>
    </section>

  </div>

  <!-- The navigational controls UI -->
  <aside class="controls">
    <a class="left" href="#">&#x25C4;</a>
    <a class="right" href="#">&#x25BA;</a>
    <a class="up" href="#">&#x25B2;</a>
    <a class="down" href="#">&#x25BC;</a>
  </aside>

  <!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
  <div class="progress"><span></span></div>
  
</div>





